.wrapper {
  display: grid;
  grid-template-columns: auto 1fr;
  row-gap: 10px;
  column-gap: 10px;
}

.apptitle {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
}

.wholerow {
  grid-column-start: 1;
  grid-column-end: 3;
}