.wrapper {
  display: grid;
  grid-template-columns: auto 1fr;
  row-gap: 10px;
  column-gap: 10px;
}

.wholerow {
  grid-column-start: 1;
  grid-column-end: 3;
  justify-items: start;
  overflow-wrap: break-word;
}

.lhs {
  align-self: center;
}

.rhs {
  align-self: center;
}